<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Node.js Basic</title>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Sản phẩm</a>
        <a href="/Trang-them-san-pham">Mới</a>
        <a href="/ThongKe">Thống kê</a>
    </div>

    <div style="padding-left:16px">
        <div class="w3-container">
            <h2>Danh Sách Sản Phẩm</h2>

            <table class="w3-table-all w3-hoverable">
                <thead>
                    <tr class="w3-light-grey">
                        <th>ID</th>
                        <th>Tên sản phẩm</th>
                        <th>Thể loại</th>
                        <th>Đơn giá</th>
                        <th>Tồn kho</th>
                        <th>Chip</th>
                        <th>Main</th>
                        <th>VGA</th>
                        <th>Nhà sản xuất</th>
                        <th>Ram</th>
                        <th>Ảnh</th>
                    </tr>
                </thead>
                <tbody>
                    <form action="/Tim" enctype="multipart/form-data" method="POST">
                        <tr>
                            <td>
                                <p>0</p>
                            </td>
                            <td>
                                <input type="text" class="input_Tim" name="TimTenSP" placeholder="Tìm tên">
                            </td>
                            <td>
                                <input list="ListTheLoai" class="input_Tim" name="TimTenTL" placeholder="Tìm thể loại">
                                <datalist id="ListTheLoai">
                                    <option value="PC">
                                    <option value="LapTop">
                                </datalist>
                            </td>
                            <td>
                                <input type="text" class="input_Tim" name="TimDonGiaSP" placeholder="Tìm giá">
                            </td>
                            <td>
                                <input type="text" class="input_Tim" name="TimTonKhoSP" placeholder="Tìm tồn kho">
                            </td>
                            <td>
                                <input type="text" class="input_Tim" name="TimChip" placeholder="Tìm chip">
                            </td>
                            <td>
                                <input type="text" class="input_Tim" name="TimMain" placeholder="Tìm main">
                            </td>
                            <td>
                                <input type="text" class="input_Tim" name="TimVGA" placeholder="Tìm VGA">
                            </td>
                            <td>
                                <input list="ListNhanSanXuat" class="input_Tim" name="TimNhanSanXuat"
                                    placeholder="Tìm nxs">
                                <datalist id="ListNhanSanXuat">
                                    <option value="Shop PC">
                                    <option value="Apple">
                                    <option value="ASUS">
                                    <option value="Lenovo">
                                </datalist>
                            </td>
                            <td>
                                <input type="text" class="input_Tim" name="TimRam" placeholder="Tìm RAM">
                            </td>
                            <td>
                                <img src="/images/Kothayanh.jpg" alt="" width="100px" height="100px" />
                            </td>
                            <td>
                                <button type="submit" class="button">Tìm</button>
                            </td>
                        </tr>
                    </form>

                    <% for(let i=0; i < SanPham.length; i++) { %>
                        <tr>
                            <td>
                                <%= SanPham[i].MaSP %>
                            </td>
                            <td>
                                <%= SanPham[i].TenSP %>
                            </td>
                            <td>
                                <%= SanPham[i].TenTL %>
                            </td>
                            <td>
                                <%= (SanPham[i].DonGiaSP).toLocaleString() %> VND
                            </td>
                            <td>
                                <%= SanPham[i].TonKhoSP %>
                            </td>
                            <td>
                                <%= SanPham[i].Chip %>
                            </td>
                            <td>
                                <%= SanPham[i].Main %>
                            </td>
                            <td>
                                <%= SanPham[i].VGA %>
                            </td>
                            <td>
                                <%= SanPham[i].NhanSanXuat %>
                            </td>
                            <td>
                                <%= SanPham[i].RAM %>
                            </td>
                            <td>
                                <img src="/images/<%= SanPham[i].AnhSP %>" alt="" width="100px" height="100px" />
                            </td>
                            <td>
                                <form action="/edit/<%= SanPham[i].MaSP %>" method="GET">
                                    <button type="submit" class="button">Edit</button>
                                </form>

                                <form action="/delete" method="POST">
                                    <input type="text" hidden value="<%= SanPham[i].MaSP %>" name="MaSP">
                                    <button type="submit" class="button">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>