<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Node.js Basic</title>
</head>

<body>
    <div class="topnav">
        <a href="/">Sản phẩm</a>
        <a href="/Trang-them-san-pham">Mới</a>
        <a class="active" href="/ThongKe">Thống kê</a>
    </div>

    <div style="padding-left:16px">
        <div class="w3-container">
            <h2>Thống kê</h2>

            <table class="w3-table-all w3-hoverable">
                <thead>
                    <tr class="w3-light-grey">
                        <th>Sản phẩm</th>
                        <th>Hãng</th>
                        <th>Khách hàng</th>
                        <th>Số lượng</th>
                        <th>Tổng giá</th>
                        <th>Ngày đặt</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i < SanPham.length; i++) { %>
                        <tr>
                            <td>
                                <%= SanPham[i].TenSP %>
                            </td>
                            <td>
                                <%= SanPham[i].NhanSanXuat %>
                            </td>
                            <td>
                                <%= SanPham[i].TenLienHe %>
                            </td>
                            <td>
                                <%= SanPham[i].SoLuong %>
                            </td>
                            <td>
                                <%= ((SanPham[i].DonGiaSP * SanPham[i].SoLuong) + (SanPham[i].DonGiaSP * 0.01) *
                                    SanPham[i].SoLuong).toLocaleString() %> VND
                            </td>
                            <td>
                                <%= SanPham[i].FormattedNgayDatHang %>
                            </td>

                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>