<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Node.js Basic</title>
</head>

<body>
    <div class="topnav">
        <a href="/">Sản phẩm</a>
        <a href="/Trang-them-san-pham">Mới</a>
        <a href="/ThongKe">Thống kê</a>
    </div>
    <div class="create-user-container">
        <form action="/update-sanpham" enctype="multipart/form-data" method="POST">
            <div><b>Cập nhật sản phẩm:</b></div>
            <div>
                <label for="">Tên sản phẩm:</label>
                <input type="text" name="MaSP" hidden value="<%=SanPham.MaSP%>" />
                <input type="text" name="TenSP" value="<%=SanPham.TenSP%>" />
            </div>
            <div>
                <label for="">Mã thể loại:</label>
                <input type="text" name="MaTL" value="<%=SanPham.MaTL%>" />
            </div>
            <div>
                <label for="">Đơn giá:</label>
                <input type="text" name="DonGiaSP" value="<%=SanPham.DonGiaSP%>" />
            </div>
            <div>
                <label for="">Tồn kho:</label>
                <input type="text" name="TonKhoSP" value="<%=SanPham.TonKhoSP%>" />
            </div>
            <div>
                <label for="">Chip:</label>
                <input type="text" name="Chip" value="<%=SanPham.Chip%>" />
            </div>
            <div>
                <label for="">Main:</label>
                <input type="text" name="Main" value="<%=SanPham.Main%>" />
            </div>
            <div>
                <label for="">VGA:</label>
                <input type="text" name="VGA" value="<%=SanPham.VGA%>" />
            </div>
            <div>
                <label for="">Nhà sản xuất:</label>
                <input type="text" name="NhanSanXuat" value="<%=SanPham.NhanSanXuat%>" />
            </div>
            <div>
                <label for="">Ram:</label>
                <input type="text" name="RAM" value="<%=SanPham.RAM%>" />
            </div>
            <div>
                <label for="">Ảnh:</label>
                <input type="file" name="profile_pic" value="<%=SanPham.AnhSP%>" />
            </div>
            <div>
                <button type="submit" class="btnSubmit">Save</button>
            </div>
        </form>
    </div>
</body>

</html>